## external bridge name
#ovsbr_ext='br_ext'

## internal bridge name
#ovsbr_int='br_int'

## vpn private internal network
internal_network='192.168.192.0/22'
reserve_ip_number='60'

## tap interface name
tap_name='tap0'

## open vpn daemon information
#vpnport='1194'
prototype='tcp'

## FTP/User name for Download
#new_user='vpnuser'
#new_pass='vpnuser'

## internal extend interface
extend_ethernet='eth1'
